<app-header></app-header>

<section class="reports">
  <div class="container-fluid">
    <table class="table table-report">
      <!-- thead -->
      <thead>
        <tr>
          <th scope="col">
            <div class="form-group form-group-filter">
              <div class="d-flex justify-content-between">
                <label for="">Name</label>
                <a href="#" class="sort">
                  <img src="assets/images/sort.svg" alt="icon sort">
                </a>
              </div>
              <input type="text" [(ngModel)]="searchVardiya" class="form-control form-control-filter size-1" placeholder="Search">
            </div>
          </th>



          <th scope="col">
            <div class="form-group form-group-filter">
              <div class="d-flex justify-content-between">
                <label for="">Vehicle <a href="#" class="edit-label"><img src="assets/images/pencil.svg" alt="icon edit"></a></label>
                <a href="#" class="sort">
                  <img src="assets/images/sort.svg" alt="icon sort">
                </a>
              </div>
              <input type="text" [(ngModel)]="searchText"  class="form-control form-control-filter size-2" placeholder="Search">
            </div>
          </th>


          <th scope="col">
            <div class="form-group form-group-filter">
              <div class="d-flex justify-content-between">
                <label for="">Time</label>
                <a href="#" class="sort">
                  <img src="assets/images/sort2.svg" alt="icon sort">
                </a>
              </div>
              <input type="text" [(ngModel)]="searchTime" class="form-control form-control-filter size-2" placeholder="Search">
            </div>
          </th>



          <th scope="col">
            <div class="form-group form-group-filter">
              <div class="d-flex justify-content-between">
                <label for="">Driver</label>
                <a href="#" class="sort">
                  <img src="assets/images/sort.svg" alt="icon sort">
                </a>
              </div>
              <input type="text" [(ngModel)]="searchDriver" class="form-control form-control-filter size-1" placeholder="Search">
            </div>
          </th>


          <th scope="col">
              <div class="form-group form-group-filter">
                <div class="d-flex justify-content-between">
                  <label for="">Helper</label>
                  <a href="#" class="sort">
                    <img src="assets/images/sort.svg" alt="icon sort">
                  </a>
                </div>
                <input type="text" [(ngModel)]="searchHelper" class="form-control form-control-filter size-1" placeholder="Search"> 
              </div>
            </th>


          <th scope="col">
            <div class="form-group form-group-filter">
              <div class="d-flex justify-content-between">
                <label for="">Performance <a href="#" class="edit-label"><img src="assets/images/pencil.svg" alt="icon edit"></a></label>
                <a href="#" class="sort">
                  <img src="assets/images/sort.svg" alt="icon sort">
                </a>
              </div>
              <input disabled type="text" class="form-control form-control-filter size-2" placeholder="Search">
            </div>
          </th>


          <th scope="col">
            <div class="form-group form-group-filter">
              <div class="d-flex justify-content-between">
                <label for="">Status</label>
                <a href="#" class="sort">
                  <img src="assets/images/sort.svg" alt="icon sort">
                </a>
              </div>
              <input  type="text" [(ngModel)]="searchStatus" class="form-control form-control-filter size-1" placeholder="Search">
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <!-- ./thead -->


      <!-- tbody -->
      <tbody>

        <tr *ngFor="let report of reports | filterVehicle: searchText | filterName: searchVardiya | filterTime: searchTime | filterDriver: searchDriver | filterHelper: searchHelper | filterStatus: searchStatus">
          <td class="role-th">{{report.vardiya}}&nbsp;Vardiyası</td>

          <td role="button">
            <div class="dropdown" >
              <button id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{report.location}}
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <a class="dropdown-item"  (click)="showModal(report)">Change</a>
                <a class="dropdown-item" href="#">Swap</a>

              </div>
            </div>
          </td>

          <td>{{report.time}}</td>

          <td>{{report.driver}}</td>

          <td>-</td>

          <td>{{report.performance}}</td>

          <td [ngClass]="report.status=='dispatched' ? 'dispatched' : ''">{{report.status}}</td>

          <td><img src="assets/images/route.svg" alt="icon route"></td>
        </tr>

            
      </tbody>
      <!-- ./tbody -->

    </table>
  </div>
</section>

<app-modal *ngIf="isModal" (isModalChange)="hideModal($event)"></app-modal>