header{
    padding: 50px 0;

    .routes{
        .title{
            font-size: 16px;
            color: #535A72;
        }
        a{
            color: #535A72;
            font-size: 14px;
            img{
                height: 14px;
                margin-right: 3px;
            }
        }
    }


}