<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="calendar">

          <div class="form-group">

            <div id="filterDate2">
              
              <!-- Datepicker as text field -->         
              <div class="input-group" data-date-format="dd.mm.yyyy">


                <span class="folding-map">
                  <a routerLink="/map" routerLinkActive="active">
                    <img height="24px" class="mr-2" src="assets/images/folding-map.svg" alt="">
                  </a>
                </span>


                <div class="date d-flex">
                    <input  type="text" class="form-control" placeholder="10.04.2019">
                    <div class="input-group-addon" >
                      <img src="assets/images/calendar.svg" alt="">
                    </div>
                </div>


                <button class="btn btn-go">
                  <img src="assets/images/right-arrow.svg" alt="">
                </button>
              </div>
              
            </div>    
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="float-right">
          <button class="btn btn-add">+</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="routes">
          <h4 class="title">
            Routes
          </h4>
          <a href="#"><img src="assets/images/file.svg" alt="">Create Report</a>
        </div>
      </div>
    </div>
  </div>
</header>


