@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.map-filter{
    position: absolute;
    top:20px;
    left: 20px;
    z-index: 100;

    @include breakpoint(visible-till-md){
        left: 60px;

        .map-filter-input
        {
            margin-left: 25px;
        }
    }
}