<div class="map-filter">
    <div class="calendar">

        <div class="form-group">
    
          <div id="filterDate2">
            
            <!-- Datepicker as text field -->         
            <div class="input-group" data-date-format="dd.mm.yyyy">
    
    
              <span class="folding-map">
                <a routerLink="/" routerLinkActive="active">
                  <img height="24px" class="mr-2" src="assets/images/list.svg" alt="">
                </a>
              </span>
    
    
              <div class="date d-flex">
                  <input  type="text" class="form-control" placeholder="10.04.2019">
                  <div class="input-group-addon" >
                    <img src="assets/images/calendar.svg" alt="">
                  </div>
              </div>

              <div class="map-filter-input d-md-flex">
                <input type="text" class="form-control ml-2" placeholder="All Shifts">
                <input type="text" class="form-control ml-2" placeholder="All Vehicles">
                <input type="text" class="form-control ml-2" placeholder="All Routes">
              </div>
    
    
              <button class="btn btn-go">
                <img src="assets/images/right-arrow.svg" alt="">
              </button>
            </div>
            
          </div>    
        </div>
      </div>
</div>