<div class="modal-wrapper">
  <div class="modal-inner">
    <div class="modal-header">
      <p>{{modalReport.location}} - {{modalReport.time}}&nbsp; Vardiyasi - {{modalReport.driver}}</p>

      <a href="#" class="close-modal" (click)="hideModal()">
        <img src="assets/images/close.svg" alt="icon">
      </a>
    </div>
    <div class="modal-body">
      <h4>Change Vehicle</h4>

      <ul>
        <li *ngFor="let report of reports" class="d-flex align-items-center justify-content-between"><span>{{report.location}}</span><a href="#" class="btn btn-go">
          <img src="assets/images/swap.svg" alt="icon">
        </a>
      </li>
      </ul>
    </div>
  </div>
</div>
