
<section class="map-container">

    <app-map-filter></app-map-filter>

      <agm-map 
      [latitude]="lat" 
      [longitude]="lng"
      [zoom]="5" 
      (mapReady)="onMapReady($event)">

       <agm-marker 
			*ngFor="let marker of markers"
			[latitude]="marker.lat" 
			[longitude]="marker.lng"
			[iconUrl]="icon"
			>
			</agm-marker>


      </agm-map>

</section>
