/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/variables';
@import 'assets/scss/mixins';
body{
    background-color: #ECEFF5!important;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


.calendar{
    padding-top: 10px;
}

.folding-map{
    img{
        vertical-align: -webkit-baseline-middle;
    }
}

.form-control{

    max-width: 197px;
    border-radius: 4px;
    @include border-radius(4px);
    background-color: #ffffff;
    font-size: 11px;
    color: #535A72;
    height: 34px;
    font-weight: 600;

    &:focus{
        box-shadow: 0 0 0 0.2rem rgba(83,90,114,.25);
    }

}


.btn-go{
    background-color: #535A72;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    img
    {

        height: 20px;

    }
}

.btn-add{
    border:none;
    background-color: #01A65A;
    @include border-radius(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    line-height: normal;
    &:hover{
        color: #ffffff;
    }
    img{
        height: 22px;
        width: 22px;
    }
}
#filterDate2{


    .input-group-addon{
        width: 40px;
        padding: 10px;
        border:1px solid #ced4da;
        @include border-radius(4px);
        height: 34px;
        // margin-left: 3px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            height: 14px;
        }
    }
}


// table report styles

section.reports{
    width: 100%;
    overflow: scroll;
}

.table-report{
    border-collapse:separate; 
    border-spacing: 0 5px;

    th, td{
        border:none!important;
        vertical-align: inherit;
    }
    td{
        background-color: #ffffff;
        padding: 24px;
        font-size: 12px;
        font-weight: 300;
        color: #403876;
        position: relative;
        
        .dropdown{
            position: absolute;
            top: 0;
            left: 10px;
            width: 100%;
            height: 100%;

            button{
                width: 100%;
                height: 100%;
                background-color: transparent;
                border:none;
                text-align: left;
                color: #403876;
                &:focus{
                    background-color: #F9F9F9;
                    outline: none;
                    box-shadow: none;
                }
            }


            .dropdown-menu{
                min-width: inherit;
                width: 5rem;
                right: 0;
                left: auto!important;
                top:-26px!important;
                padding: 0;
                @include border-radius(0);
                // border-color: #9C9D9C;
                border:none;
                .dropdown-item{
                    padding: 10px;
                    border: 1px solid #e2e2ea;
                    font-size: 12px;
                    transition:.2s ease;
                    color: #9C9D9C;
                    font-weight: 600;
                    cursor: pointer;
                    &:hover{
                        color: #535A72;
                    }
                }
            }
        }
    }
    .role-th{
        font-weight: bold;
    }
    .dispatched{
        color: #01A65A;
    }
}

.form-group-filter{
    label{
        font-size: 11px;
        color: #403876;
    }

    .edit-label{
        display: inline-block;
        vertical-align: text-bottom;
    }
    .form-control-filter{
        display: inline-block;
        @include border-radius(0);
        border-color: #e2e2ea;
        font-size: 11px;
        font-weight: 600;
        &::placeholder{
            color: #9C9D9C;
        }
        &:focus{
            box-shadow: 0 0 0 0.2rem rgba(83,90,114,.25);
            -webkit-box-shadow: 0 0 0 0.2rem rgba(83,90,114,.25);
            -moz-box-shadow: 0 0 0 0.2rem rgba(83,90,114,.25);
        }

    }
    .size-1{
        max-width: 200px;
    }
    .size-2{
        max-width: 100px;
        min-width: 90px;
    }
}




// datepicker styles

.datepicker{
    padding: 20px;
    .dow{
        font-size: 13px;
        color: #535A72;
    }
    .datepicker-switch{
        color: #535A72;
        text-align: center;
        font-size: 16px;
    }
    .day{
        font-size: 12px;
        color: #535A72;
        
    }
}


// google maps style importance

.gm-bundled-control > .gmnoprint{
    top:66px!important;
}


// modal styles
.modal-wrapper{
    position: fixed;
    z-index: 3000;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);

    .modal-inner{
        width: 500px;
        margin: 30px auto;
        background-color: #ffffff;
        padding: 20px;

        .modal-header{
            padding: 5px 0;
            margin: 20px 0;
            border-bottom: 1px solid #EBEFF3;
            p{
                color: #535A72;
                font-size: 18px;
            }
        }

        .modal-body{
            background-color: #EBEFF3;
            h4{
                font-size: 18px;
                color: #535A72;
            }
            ul{
                @extend %reset;
                list-style-type: none;
    
                li{
                    padding: 20px 5px;
                    border-bottom: 1px solid #ffffff;
                    font-size: 12px;
                    color: #535A72;
                }
            }
        }
    }
}